/*---------------------------------------------------------*/
/*  Stylesheet composite starts here for ClearViewEscapes  */
/*---------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}