/* Nested .btn CSS Selectors */

.btn {
	background-color: $mainBlue;
    color: #fff;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    
    &__orange {
        background-color: $mainOrange;
    }
    
    &__large {
        font-size: 1.25rem;
        padding: 1.1rem 1.9rem;
    }
}