.feature-item {
	position: relative;
	padding-left: 5.875rem; /* 94px/16 */
	padding-bottom: 2.5rem;
	
	&__icon {
		position: absolute;
		left: 0;
	}
	
	&__title {
		font-size: 1.875rem;
		font-weight: 300;
		margin-bottom: 0.8rem;
	}
}