.row {
    
    @mixin clearfix;
    
    &--gutters > div {
        padding-right: 65px;
        box-sizing: border-box;
    }
    
    &__4 {
        float: left;
        width: 33.33%;
    }
    
    &__8 {
        float: left;
        width: 66.66%;
    }
}