.section-title {
	font-size: 2.255rem;
	font-weight: 300;
	text-align: center;
	
	@mixin atSmall {
		font-size: 3.75rem;
	}
	
	strong { 
		font-weight: 500;
	}
	
	&__icon {
		margin-right: .5rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;
		
		@mixin atSmall {
			margin-right: .5rem;
			margin-left: 0;
			display: inline-block;
			margin-bottom: 0;
			
		}
	}
}